.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.icon {
  align-self: center;
  margin: 15px;
}

@media screen and (max-width: 600px) {
  .icon {
    width: 50%;
  }
  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .icon {
    width: 45%;
    margin: 25px 0 10px;
  }
  a {
    font-size: 12px;
  }
}
