<div>
  <div class="avatar-group" [matMenuTriggerFor]="menu">
    <img
      *ngFor="let user of users.slice(0, 3)"
      [src]='user.photoURL'
      class="avatar avatar-in-group"
    >
    <div *ngIf="users.slice(3).length" class="avatar avatar-plus">
      {{ users.slice(3).length }}+
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <span
      mat-menu-item
      disabled
      class="user-sell"
      *ngFor="let user of users"
    >
      <img [src]='user.photoURL' class="avatar">
      <span>{{ user.displayName }}</span>
    </span>
  </mat-menu>
</div>