<div>
  <div class="avatar-group" [matMenuTriggerFor]="menu">
    <img
      *ngFor="let user of users.slice(0, 3)"
      [src]='user.photoURL'
      class="avatar avatar-in-group"
    >
    <div *ngIf="users.slice(3).length" class="avatar avatar-plus">
      {{ users.slice(3).length }}+
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <span disabled mat-menu-item class="color-black">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter name or email"
          [(ngModel)]="user"
          name="user"
          (ngModelChange)="onChange($event)"
        >
      </mat-form-field>
    </span>
    <span
      mat-menu-item
      disabled
      class="user-sell"
      *ngFor="let user of searchUsers"
    >
      <div class="user-sell">
        <img [src]='user.photoURL' class="avatar">
        <span>{{ user.displayName }}</span>
      </div>
      <i
        class = "recycle"
        (click)="onRemove(user.uid)">
      </i>
    </span>
  </mat-menu>
</div>