<div class="task">
    <i [ngClass] = "task.isChecked ? 'icon-success' : 'icon' "
       class="hover-cursor"
       (click)="onCheck(task.$key, task.isChecked)"
    ></i>
    <div class="label-text">
      <div class="item">
        {{task.title}}
      </div>
      <div class="item small">
        {{task.info}}
      </div>
    </div>
  <i class = "recycle hover-cursor"
     (click)="onRemove(task.$key)"></i>
    <div class="label-date">
      <div class="date"> {{time}} </div>
      <div class="date small"> {{dateFromNow}} </div>
    </div>
</div>
