.task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-width: 500px;
  background-color: white;
  border-radius: 8px;
  margin: 5px;
  min-height: 45px;
}
.icon, .icon-success{
  background-image: url("../../../../assets/images/icons/circle.png");
  min-width: 24px;
  min-height: 24px;
  margin: 15px;
}
.icon-success{
  background-image: url("../../../../assets/images/icons/verified.png");
}
.label-text{
  min-width: 300px;
}
.label-date{
  display: flex;
  flex-direction: column;
  margin: 15px;
  min-width: 30px;
}
.small{
  font-size: 11px;
}

.recycle{
  background-image: url("../../../../assets/images/icons/recycling-bin.png");
  min-width: 16px;
  min-height: 16px;
  margin: 15px 20px;
}
