.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-width: 500px;
  background-color: white;
  border-radius: 8px;
  margin: 5px;
  min-height: 45px;
}
.icon,
.icon-success {
  background-image: url("../../../../assets/images/icons/circle.png");
  min-width: 24px;
  min-height: 24px;
  margin: 15px;
}
.icon-success {
  background-image: url("../../../../assets/images/icons/verified.png");
}
.label-text {
  min-width: 300px;
}
.label-date {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 60px;
}
.date {
  align-self: flex-end;
}
.small {
  font-size: 11px;
}
.recycle {
  display: block;
  background-image: url("../../../../assets/images/icons/recycling-bin.png");
  min-width: 16px;
  min-height: 16px;
  margin: 15px 20px;
}

@media screen and (max-width: 550px) {
  .task {
    min-width: 300px;
  }
  .label-text {
    min-width: 150px;
    max-width: 150px;
    font-size: 13px;
  }
  .label-date {
    font-size: 11px;
    max-width: 47px;
    min-width: 47px;
    margin-left: 0;
  }
  .small {
    font-size: 9px;
  }
  .recycle {
    margin: 15px 10px;
  }
}
