<section>
  <div class="header">
    <i class="material-icons icon" (click)="goBack()">navigate_before</i>
    <div class="date">
      <div class="day">
        {{ today | date: "EEEE" }}
      </div>
      <div class="circle"></div>
      <div class="month">
        {{ today | date: "d MMMM" }}
      </div>
    </div>
    <img
      [src]="user.photoURL"
      class="user-img icon"
      [matMenuTriggerFor]="menu"
    />
  </div>
  <mat-menu #menu="matMenu">
    <span mat-menu-item disabled class="user-name">
      <span>{{ user.displayName }}</span>
    </span>
    <button mat-menu-item (click)="authService.SignOut()">
      <mat-icon>subdirectory_arrow_left</mat-icon>
      <span>Sign Out</span>
    </button>
  </mat-menu>
</section>
