<div class="project-header">
  <span class="project-title" *ngIf="currentProject">{{ currentProject.title }}</span>
  <app-group-avatar [users]="usersArray"></app-group-avatar>
</div>
<app-progress-bar [tasks]="taskArray"> </app-progress-bar>
<section>
  <div class="row">
    <app-task-input class="task-input" (add)="onAdd($event)"> </app-task-input>
    <app-task-item
      class="task-container"
      *ngFor="let task of taskArray"
      [task]="task"
      (remove)="onRemove($event)"
      (edit)="onEdit($event)"
    >
    </app-task-item>
  </div>
</section>
