
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-input{
  width: 80%;
}

@media screen and (max-width: 400px){
  .task-input{
    width: 100%;
  }
}



