<div class="project-header">
  <span class="project-title">{{ project.name }}</span>
  <app-group-avatar></app-group-avatar>
</div>
<app-progress-bar
  [tasks] = "taskArray"
>
</app-progress-bar>
<section>
  <div class="row">
    <app-task-input
      class="task-input"
      (add) = "onAdd($event)"
    >
    </app-task-input>
    <app-task-item
      class="task-container"
      *ngFor="let task of taskArray "
      [task] = "task"
      (check) = "onCheck($event)"
      (remove) = "onRemove($event)"
    >
    </app-task-item>
  </div>
</section>
