<div class="project-header">
  <span *ngIf="currentProject" class="project-title">{{
    currentProject.title
  }}</span>
  <mat-icon class="settings" (click)="openDialog()">settings</mat-icon>
  <app-progress-bar class="spacer" [tasks]="taskArray"> </app-progress-bar>
  <app-group-avatar [users]="usersArray"></app-group-avatar>
  <div class="confirm" [matMenuTriggerFor]="menu">
    <mat-icon color="primary" class="add-icon">add</mat-icon>
  </div>
</div>
<mat-menu #menu="matMenu">
  <span disabled mat-menu-item class="color-black">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Enter email"
        [(ngModel)]="userEmail"
        name="userEmail"
        (ngModelChange)="onChange($event)"
      />
    </mat-form-field>
  </span>
  <span
    disabled
    mat-menu-item
    *ngFor="let user of searchableUsers"
    class="users"
  >
    <div class="user-container">
      <img [src]="user.photoURL" class="avatar" />
      <span class="user-name">{{ user.displayName }}</span>
    </div>
    <button
      class="add-button"
      *ngIf="isUserInProject(user)"
      (click)="addUserToProject(user.uid)"
    >
      +
    </button>
  </span>
</mat-menu>
<section>
  <div class="row">
    <app-task-input class="task-input" (add)="onAdd($event)"> </app-task-input>
    <app-task-item
      class="task-container"
      *ngFor="let task of taskArray"
      [task]="task"
      (remove)="onRemove($event)"
      (edit)="onEdit($event)"
    >
    </app-task-item>
  </div>
</section>
