<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
<section class="row" *ngIf="!isLoading">
    <div *ngFor="let project of projects" class="part project-container">
      <div class="card-header">
        <mat-icon class="menu-icon" (click)="onRemoveProject(project.id)">
          more_vert
        </mat-icon>
      </div>
      <div class="flex card-content" (click)="openProject(project.id)">
        <div class="project-avatar icon">{{ project.title[0] }}</div>
        <span class="project-title">{{ project.title }}</span>
      </div>
    </div>
  <div class="part">
    <div class="flex card-content" (click)="openForm()">
      <img class="icon" src="./../../../assets/images/icons/plus.png" />
      <a *ngIf="!formIsOpen">Create new project</a>
    </div>
    <div *ngIf="formIsOpen" class="column">
      <h3>Add project details</h3>
      <form class="form ">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Add a title"
            [(ngModel)]="projectTitle"
            name="projectTitle"
          />
          <mat-error *ngIf="titleFormControl.hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        color="primary"
        (click)="createProject(projectTitle)"
        [disabled]="!projectTitle"
      >
        Confirm
      </button>
    </div>
  </div>
</section>
