.progress-bar{
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  border-bottom: 1px solid #f4f5f5;
}

.taskname{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 10pt;
}

.task{
  color: #DF677C;

}
