.progress-bar {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  border-bottom: 1px solid #f4f5f5;
}

.taskname {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 10pt;
}

.task {
  color: #df677c;
}

@media screen and (max-width: 400px) {
  .progress-bar {
    padding: 10px 0;
  }
  .taskname {
    font-size: 9pt;
  }
  .task {
    font-size: 10pt;
  }
}
