.progress-bar {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.progress-bar-label {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.progress-bar-margin {
  width: 70%;
  align-self: center;
}

.taskname {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 10pt;
}

.task {
  color: #df677c;
}

@media screen and (max-width: 400px) {
  .progress-bar {
    padding: 10px 0px 15px;
  }
  .progress-bar-label {
    margin-bottom: 5px;
  }
  .progress-bar-margin {
    width: 80%;
  }
  .taskname {
    font-size: 9pt;
  }
  .task {
    font-size: 10pt;
  }
}
