@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-color: #fcfafa;
  font-family: 'Metrophobic', sans-serif;
}
:focus{outline: none;}

.hover-cursor{
  cursor: pointer;
}


