.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.part{
  background-color: white;
  border:none;
  border-radius: 10px;
  width: 40%;
  max-width: 400px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part:before{
  content: "";
  display: block;
  padding-top: 100%;
}
.center{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-count {
  background-color: #e0677d;
  padding: 5px 10px;
  border-radius: 50%;
  min-width: 10px;
  color: #fff;
  text-align: center;
}

.tasks-count-position {
  position: relative;
  left: 55%;
  bottom: 40%;
  }

.tasks-spinner {
  position: relative;
  left: 55%;
  bottom: 40%;
}

@media screen and (min-width: 850px) {
  .tasks-count-position {
    left: 55%;
    bottom: 43%;
  }
}

@media screen and (max-width: 400px) {
  .tasks-count-position {
    padding: 2px 8px;
    left: 71%;
    bottom: 34%;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .tasks-count-position {
    left: 68%;
    bottom: 35%;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .tasks-count-position {
    left: 58%;
    bottom: 38%;
  }
}
