.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
}

.part{
  background-color: white;
  border:none;
  border-radius: 10px;
  width: 40%;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part:before{
  content: "";
  display: block;
  padding-top: 80%;
}

.center{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


