<section class="row">
  <div class="part" *ngFor="let item of items">
    <app-home-item
      class="center"
      [item]="item"
      [id]="index"
      [activeId]="activeIndex"
      (mouseenter)="onMouseEnter(index)"
      (mouseleave)="onMouseLeave()"
    >
    </app-home-item>
    <div
      *ngIf="item.name === notificationKey && !countLoading"
      matBadge="{{ tasksCount }}"
      class="tasks-spinner tasks-notifier"
    ></div>
    <div
      *ngIf="item.name === notificationKey && countLoading"
      class="tasks-spinner"
    >
      <mat-progress-spinner
        [color]="primary"
        [mode]="mode"
        [diameter]="diameter"
        [value]="value"
      >
      </mat-progress-spinner>
    </div>
  </div>
</section>
